
body {
	background-color: #778899
} 

#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
img {
	max-width: 100%;
}

header {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;
}


nav {
	font-family: Playfair Display, "Times New Roman", serif;
	font-size: 1.50em;
	font-weight: bold;
	text-align: center;

}

nav li {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 18%;
		white-space: nowrap;
		border-radius: 0;
		background-color: transparent;
}

nav li a:link {
		color: #000000;
	}
	
	nav li a:visited {
		color: #FFFFFF;
	}
	
	nav li a:hover {
		color: #9D9D93;
		font-style: bold;
	}

nav li a {
	text-decoration: none;
	margin-top: -2.5%;
}


main {
	display: block;
	font-family: Playfair Display, "Times New Roman", sans-serif;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 10px;
	overflow: auto;
}

footer {
	font-size: 1em;
	text-align: center;
	margin-top: 20px;
}

figure img {
	max-width: 20%;
	float: left;
	height: 200px;
	padding-right: 2%
}

article img {
	float: left;
	height: 400px;
	padding-right: 2%
}


